---
---

.blog-by-tag {
  .post-list {
    padding-top: 40px;
    
    .tag {
      display: block;
      text-align: left;
      margin-bottom: 30px;
      font-style: italic;
      font-size: 20px;
      color: #7D7D7D;
    }
  }
}