---
---

.secondary-header {
  background: #66D295;
  padding: 0 30px;
  width: 100%;
  top: 0;
  z-index: 3;
  box-sizing: border-box;  
  
  @media (max-width: 560px) {
    position: static;
  }
  
  &.fixed {
    display: none;
    position: fixed;
  }
    
  nav {
    height: 40px;
    color: #fff;
    display: inline-block;
    
    a {
      color: #fff;
      display: inline-block;
      margin-top: 9px;
      margin-right: 20px;
      font-size: 15px;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  .social {
    float: right;
    margin-top: 4px;
    
    a {
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-left: 10px;
      opacity: .85;
      
      &:hover {
        opacity: 1;
      }
    }
  }
  
  @media (max-width: 759px) {
    nav {
      text-align: center;
      display: block;
    }
    
    .social {
      text-align: center;
      float: none;
      margin: 0;
      padding: 0 0 10px 0;
    }
  }
  
  @media (max-width: 560px) {
    nav {
      display: none;
    }
    .social {
      a {
        margin-top: 8px;
      }
    }
  }
}

.nav {
  width: 100%;
  z-index: 100;
  position: relative;
  top: 0;
  
  .site-nav {
    width: 100%;
    background: #fff;
    background-image: url('/images/nav-bg.jpg');
    background-size: cover;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  
    a {
      display: inline-block;
      text-align: center;
      line-height: inherit;
      width: 16%;
      height: 70px;
      line-height: 3.8;
      margin: 0;
      font-family: Itim;
      font-size: 18px;
    
      &:hover {
        opacity: .85;
        text-decoration: none;
      }
      
      img {
        margin: -4px 8px 0 0;
      }
      
      &:not(.logo) {
        img {
          @media (max-width: 900px) {
            display: none;
          }
        }
      }
    }
  
    a.logo {
      width: 35%;
      padding: 0 20px;
      box-sizing: border-box;
      
      img {
        margin: -6px 0 0 0;
        height: auto;
      }
    }
    
    @media (max-width: 759px) {
      a {
        width: 25%;
        font-size: 16px;
        line-height: 4.1;
        
        &.logo {
          width: 49%;
        }
        
        &:nth-child(2),
        &:nth-child(4) {
          display: none;
        }
      }
    }
    
    @media (max-width: 560px) {
      a:not(.logo) {
        display: none;
      }
      
      a.logo {
        width: 100%;
      }
    }
  }
}