<footer class="site-footer">
  <div class="container">
    <div class="three columns">
      <span><a href="...">Travel Blog</a><span>
      <span><a href="...">Daily Vlog</a></span>
    </div>
    <div class="three columns">
      <span><a href="...">Where are we?</a></span>
      <span><a href="...">Our Finances</a></span>
    </div>
    
    <div class="six columns description">
      <h2 class="footer-heading">{{ site.title }}</h2>
      <p class="text">{{ site.description }}</p>
    </div>
</footer>
