<footer class="site-footer">
  <div class="container">
    <div class="three columns">
      <span><a href="/blog">Travel Blog</a><span>
      <span><a href="https://www.youtube.com/channel/UCEDrRCC0qRtPd5-sSa1hajw" target="_blank">Daily Vlog</a></span>
    </div>
    <div class="three columns">
      <span><a href="/#location">Where are we?</a></span>
      <span><a href="/finances">Our Finances</a></span>
    </div>
    
    <div class="six columns description">
      <h2 class="footer-heading">{{ site.title }}</h2>
      <p class="text">{{ site.description }}</p>
    </div>
</footer>
