<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='https://fonts.googleapis.com/css?family=Itim|PT+Sans:400,700|Asap:700|Shadows+Into+Light:400|Londrina+Sketch:400' rel='stylesheet' type='text/css'>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.5/mapbox-gl.css' rel='stylesheet' />

  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/skeleton.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/global.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/nav.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/blog.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/page.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/finances.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.5/mapbox-gl.js'></script>
  <script src='/js/Chart.min.js'></script>
  <script src='/js/{{ page.script }}.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.1/randomColor.js'></script>
</head>