<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.head_description }}{% endif %}">

  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='https://fonts.googleapis.com/css?family=Itim|PT+Sans:400,700|Asap:700|Shadows+Into+Light:400|Londrina+Sketch:400' rel='stylesheet' type='text/css'>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.5/mapbox-gl.css' rel='stylesheet' />
  
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/manifest.json">

  {% if page.canonical-url == nil %}
  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
  {% else %}
  {% assign canonical = page.canonical-url %}
  {% endif %}
  <link rel="canonical" href="{{ canonical }}">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="google-site-verification" content="7h-GhDvJQzRcy9Cy5TGMkVI5dsjKIYNfYgF3tNeW65I" />
  
  <meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:title">
  <meta content="Website" property="og:type">
  <meta content="{% if post.header_image %}{{ post.share_image }}{% else %}http://theendlessadventure.co/images/fb-image.png{% endif %}" property="og:image">
  <meta content="{% if page.url %}{{ site.url }}{{ page.url }}{% else %}The Endless Adventure{% endif %}" property="og:url">
  <meta content="The Endless Adventure" property="og:site_name">
  <meta content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" property="og:description">
  

  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/skeleton.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/global.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/nav.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/blog.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/page.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/finances.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/blog-by-tag.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/featherlight.min.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.5/mapbox-gl.js'></script>
</head>