{% include nav.html %}

<div class="hero">
  <div class="copy">
    <h1>Daily Travel Vlog &amp; Blog</h1>
    <p>
      {{ site.tagline }}
    </p>
    <p>
      <a href="https://www.youtube.com/c/TheEndlessAdventure" target="_blank">Watch the Vlog</a> | <a href="/blog">Read the Blog</a>
    </o>
  </div>
  
  <img class="hero-bg" src="/images/mobile-bg.jpg" alt="the endless adventure background" width="100%" />
  
  <video height="900" width="auto" muted="" autoplay="" loop="" preload="auto">
    <source src="/videos/home-v2.mp4" type="video/mp4">
  </video>
</div>
