<header class="nav">
  <div class="secondary-header">
    <nav>
      <a href="/blog/tag/budget-travel">Budget Travel</a>
      <a href="/blog/tag/minimalism">Minimalism</a>
      <a href="/blog/tag/vlogging">Vlogging</a>
      <a href="/blog/tag/working-out">Staying Fit While Traveling</a>
    </nav>
    <div class="social">
      <a title="YouTube Vlog" href="https://www.youtube.com/c/TheEndlessAdventure" target="_bank">
        <img alt="YouTube Travel Vlog" src="/images/social/youtube.png" width="28" height="28">
      </a>
      <a title="Instagram" href="http://instagram.com/theendlessadventure/" target="_bank">
        <img alt="Instagram" src="/images/social/instagram.png" width="28" height="28">
      </a>
      <a title="Twitter" href="https://twitter.com/the_endless_a" target="_bank">
        <img alt="Twitter" src="/images/social/twitter.png" width="28" height="28">
      </a>
      <a title="Facebook" href="https://www.facebook.com/TheEndlessAdventurers/" target="_bank">
        <img alt="Facebook" src="/images/social/facebook.png" width="28" height="28">
      </a>
    </div>
  </div>
  <nav class="site-nav">
    <a class="page-link" href="/blog"><img src="/images/icons/marker.png" alt="travel blog icon" width="17" height="17px" />Travel Blog</a><!--
    --><a class="page-link" target="_blank" href="https://www.youtube.com/channel/UCEDrRCC0qRtPd5-sSa1hajw"><img src="/images/icons/video.png" alt="video vlog icon" width="17" height="17px" />Daily Vlog</a>
    <a class="page-link logo" href="/"><img src="/images/logo.png" alt="The Endless Adventure" width="300" height="33" /></a><!--
    --><a class="page-link" href="/#location"><img src="/images/icons/map.png" alt="location map" width="17" height="17px" />Where we are</a><!--
    --><a class="page-link" href="/blog/tag/finances"><img src="/images/icons/money.png" alt="finances" width="17" height="17px" />Our Finances</a><!--
    --></nav>
</header>