<header class="nav">
  <nav class="site-nav">
    <a class="page-link" href="/blog"><img src="/images/icons/marker.png" alt="travel blog icon" width="17" height="17px" />Travel Blog</a>
    <a class="page-link" target="_blank" href="https://www.youtube.com/channel/UCEDrRCC0qRtPd5-sSa1hajw"><img src="/images/icons/video.png" alt="video vlog icon" width="17" height="17px" />Daily Vlog</a>
    <a class="page-link logo" href="/"><img src="/images/logo.png" alt="The Endless Adventure" width="300" height="33" /></a>
    <a class="page-link" href="/#location"><img src="/images/icons/map.png" alt="location map" width="17" height="17px" />Where we are</a>
    <a class="page-link" href="/blog/tag/finances"><img src="/images/icons/money.png" alt="finances" width="17" height="17px" />Our Finances</a>
  </nav>
</header>