---
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="page">
    
    {% include nav.html %}
    
    <header class="page-header" style="background-image: url('/images/headers/{{ page.header_image }}');">
      <div class="container">
        <div class="ten offset-by-one columns">
          <div class="copy">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </header>

    <div class="post">

      <article class="post-content">
        {{ content }}
      </article>

    </div>

    {% include footer.html %}

  </body>

</html>
